@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@layer reset, base, tokens, recipes, utilities;

::root {
  --font-poppins: 'Poppins', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

html, p {
  font-family: var(--font-lato), system-ui, sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}
